
@font-face {
  font-family:"PurplePurse-Regular";
  src: url("PurplePurse-Regular.ttf");
}

body {
  background-color: #16174A;
}

nav {
  overflow: hidden;
  background-color: #16174A;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  padding: 5px;
  padding-top: 22px; 
}
  
nav ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

.nav-li {
  color: #f2f2f2;
  font-size: 25px;
  text-align: center;
  padding-left: 0px;
}


header h1 {
  color: #f2f2f2;
  font-family: "PurplePurse-Regular";
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
} 

#image {
  border: 1px solid black;
  padding-right: 0px;
  padding-left: 0px;
}

#about-me {
 padding: 30px;
 border: 1px solid black;
 text-align: center;
 font-size: 30px;
}

.yellow {
  display: flex;
  flex-direction: row;
  background-color: #E1D100;
}

.avatar {
  height:100% ;
  width: 200%;
  }

.partie2 {
  font-size: 27px;
  color: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: white solid 1px;
}

h2 {
  font-weight: bold;
}

p {
  font-size:25px
}

.fab {
  font-size: 40px;
  color: #f2f2f2;
}

@media (max-width: 100px) { 
  h1 { 
    display: none;
  }
}